name: Publish to Github, Curseforge, Modrinth
on: [workflow_dispatch]

env:
  MINECRAFT_VERSION: 1.21.1
  JAVA_VERSION: 21
  VERSION: 1.0.1+1.21.1
  RELEASE_NAME: Eggmod 1.0.1 for Fabric 1.21.1

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Check Env Variables
        run: env

      - name: Checkout Repository
        uses: actions/checkout@v3
        with:
          submodules: true

      - name: Setup Java
        uses: actions/setup-java@v2
        with:
          distribution: "temurin"
          java-version: 21

      - name: Make Gradle Wrapper Executable
        if: ${{ runner.os != 'Windows' }}
        run: chmod +x ./gradlew

      - name: Build
        run: ./gradlew clean build

      - name: Publish
        uses: Kir-Antipov/mc-publish@v3.3
        with:
            curseforge-id: 1344162
            curseforge-token: "${{ secrets.PUBLISH_CURSEFORGE_TOKEN }}"

            modrinth-id: 5e00yMVd
            modrinth-token: "${{ secrets.PUBLISH_MODRINTH_TOKEN }}"

            github-tag: "v${{env.VERSION}}"
            github-token: "${{ secrets.PUBLISH_GITHUB_TOKEN }}"

            name: "${{env.RELEASE_NAME}}"
            version: "${{env.VERSION}}"
            version-type: beta
            changelog-file: CHANGELOG.md

            loaders: fabric
            game-versions: "${{env.MINECRAFT_VERSION}}"
            java: "${{env.JAVA_VERSION}}"

